{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'front/css/style.css'%}">
    <title>To-Do List</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo-container">
            <img src="{% static 'front/imgs/logo.png'%}" alt="">
        </div>
        <ul>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="http://127.0.0.1:8000/form.html">Cadastrar</a></li>
            <li><a href="http://127.0.0.1:8000/list.html">Lista</a></li>
        </ul>
    </nav>

    <h1></h1>

    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive" data-pattern="priority-columns">
              <table summary="This table shows how to create responsive tables using RWD-Table-Patterns' functionality" class="table table-bordered table-hover">
                <thead>
                  <tr class="table-row">
                    <th>Compromisso</th>
                    <th data-priority="1">Descrição</th>
                    <th data-priority="2">Local</th>
                    <th data-priority="3">Data</th>
                    <th data-priority="4">Hora</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                    {% if task.data > current_date %}
                      <tr class="table-row">
                      <td>{{ task.nome }}</td>
                      <td>{{ task.descricao }}</td>
                      <td>{{ task.local }}</td>
                      <td>{{ task.data }}</td>
                      <td>{{ task.hora }}</td>
                      <td><input type="image" name="edit-button" src="{% static 'front/imgs/edit-icon.png'%}" class="buttons"></td>
                      <td><input type="image" name="delete-button" src="{% static 'front/imgs/delete-icon.png'%}" class="buttons"></td>
                      </tr>
                    {% elif task.data == current_date %}
                      {% if task.hora > current_time %}
                      <tr class="table-row">
                        <td>{{ task.nome }}</td>
                        <td>{{ task.descricao }}</td>
                        <td>{{ task.local }}</td>
                        <td>{{ task.data }}</td>
                        <td>{{ task.hora }}</td>
                        <td><input type="image" name="edit-button" src="{% static 'front/imgs/edit-icon.png'%}" class="buttons"></td>
                        <td><input type="image" name="delete-button" src="{% static 'front/imgs/delete-icon.png'%}" class="buttons"></td>
                      </tr>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div><!--end of .table-responsive-->
          </div>
        </div>
      </div>

</body>

</html>